<div class='pull-right'><center><sup>Trade</sup></center>
<a href='https://hive-engine.com/?p=market&t=PIZZA'><img src="https://files.peakd.com/file/peakd-hive/pizzabot/23sxbi2M4UjELDzQjxPdzubdgfMjHTCtA1xueyxmnhJUrB8136VyK3pqynyWYiZYF9HrC.png"></a>
<a href="https://tribaldex.com/trade/PIZZA"><img src="https://files.peakd.com/file/peakd-hive/pizzabot/AKJ2EUiNmAEM728idHvM3DtxbEFvHY7qqgYi25493iNjSRsJmhg36MnPcWtwut8.png"></a>
<a href="https://leodex.io/market/PIZZA"><img src="https://files.peakd.com/file/peakd-hive/pizzabot/AKAqTfHFX3phVSktkUgoPspZpV3z6qka2YrRgKi8CXHMGLahqsrvQWnHHgPUmQ8.png">
</a>
</div>

<div class='pull-left'><center><sup>Connect</sup></center>
<a href="https://discord.gg/Q9bQAKpWGS"><img src="https://files.peakd.com/file/peakd-hive/pizzabot/AKF96fKjnX3wjXERHcKAFHaoHnfTVhXqPjXVz8E1Th9nPiJqmFtaycosVpPBZ7z.png"></a>
<a href="https://peakd.com/c/hive-185582/created"><img src="https://files.peakd.com/file/peakd-hive/pizzabot/AKSfyRJS1aky1LYVmv4Cd7525CHcDbaeCgthGCEk3qAA89tkzP7A5VUjjXUFs24.png"></a>

</p></div>
<center>@{{target_account}}! I sent you a slice of <strong><em>$PIZZA</em></strong> on behalf of @{{author_account}}.
<p>
<img src="https://files.peakd.com/file/peakd-hive/pizzabot/AKcfhAWVTJoEv71akL2xpqMR8hSqdCVVCgfKvobKsXwaJPMuDhNMRhj79njVX1E.png">
Learn more about <strong><em>$PIZZA Token</em></strong> at <a href="https://hive.pizza">hive.pizza</a>.<img src="https://files.peakd.com/file/peakd-hive/pizzabot/AKCGhHoDaV3c8z4HWexK3fsfjwfLtqMfCMwvoZRCGmbEGZ9JPRHEoyfN2MgGvua.png">
</center>
</div>
