<center><br> <p>@{{target_account}}! I sent you a slice of <strong><em>$PIZZA</em></strong> on behalf of @{{author_account}}.</p> <p>Learn more about <strong><em>$PIZZA Token</em></strong> at <a href="https://hive.pizza">hive.pizza</a> <sub>({{today_gift_count}}/{{max_daily_gifts}})</sub></p> </center>
