<div class='pull-right'><center><sup>Conecta</sup></center><p><a href="https://discord.gg/Q9bQAKpWGS"><img src="https://files.peakd.com/file/peakd-hive/pizzabot/AKF96fKjnX3wjXERHcKAFHaoHnfTVhXqPjXVz8E1Th9nPiJqmFtaycosVpPBZ7z.png"></a></p></div><div class='pull-right'><center><sup>Comercio</sup></center><p><a href='https://hive-engine.com/?p=market&t=PIZZA'><img src="https://files.peakd.com/file/peakd-hive/pizzabot/23sxbi2M4UjELDzQjxPdzubdgfMjHTCtA1xueyxmnhJUrB8136VyK3pqynyWYiZYF9HrC.png"></a></p></div><center><br> <p>¡@{{target_account}}! Te he enviado un trozo de <strong><em>$PIZZA</em></strong> de parte de @{{author_account}}.</p> <p>Más información sobre <strong><em>la ficha de $PIZZA</em></strong> at <a href="https://hive.pizza">hive.pizza</a> <sub>({{today_gift_count}}/{{max_daily_gifts}})</sub></p> </center><div></div>